<a href="https://colab.research.google.com/github/prasannakumar08/Prasannakumar_INFO5731_Spring2021/blob/main/In_class_exercise_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second In-class-exercise (1/27/2021, 20 points in total)**

(1) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
from collections import Counter 
def Checkforduplicates(arr) :
    givset=set(arr)
    if(len(arr)==len(givset)):
        return -1
    else:
        dic=Counter(arr)           #using dictionary to find frequency
        duplicate=[];              #array for duplicates
        for i in dic:
            if(dic[i]==2):         #checking for duplicates
                duplicate.append(i)
        return duplicate

def result(arr):
     
    a=Checkforduplicates(arr)
    if(a==-1):
        print("There are no duplicates:",a)
    else:    
        print("The duplicates are:",a)
arr = [1,3,4,4,5,5,6,7,8]
arr2=[1,2,3,4,5]
result(arr)
result(arr2)

The duplicates are: [4, 5]
There are no duplicates -1

(2) Write a Python program to select all the Sundays of a specified year. (4 points)

In [ ]:
# write your answer here


from datetime import date
import calendar
Year= 2019
A=calendar.TextCalendar(calendar.SUNDAY)
for b in range(1,13):
    for k in A.itermonthdays(Year,b):
        if k!=0:
            day=date(Year,b,k)
            if day.weekday()==6:
                print("%s,%d-%d-%d" % (calendar.day_name[6] ,k,b,Year))

Sunday,6-1-2019
Sunday,13-1-2019
Sunday,20-1-2019
Sunday,27-1-2019
Sunday,3-2-2019
Sunday,10-2-2019
Sunday,17-2-2019
Sunday,24-2-2019
Sunday,3-3-2019
Sunday,10-3-2019
Sunday,17-3-2019
Sunday,24-3-2019
Sunday,31-3-2019
Sunday,7-4-2019
Sunday,14-4-2019
Sunday,21-4-2019
Sunday,28-4-2019
Sunday,5-5-2019
Sunday,12-5-2019
Sunday,19-5-2019
Sunday,26-5-2019
Sunday,2-6-2019
Sunday,9-6-2019
Sunday,16-6-2019
Sunday,23-6-2019
Sunday,30-6-2019
Sunday,7-7-2019
Sunday,14-7-2019
Sunday,21-7-2019
Sunday,28-7-2019
Sunday,4-8-2019
Sunday,11-8-2019
Sunday,18-8-2019
Sunday,25-8-2019
Sunday,1-9-2019
Sunday,8-9-2019
Sunday,15-9-2019
Sunday,22-9-2019
Sunday,29-9-2019
Sunday,6-10-2019
Sunday,13-10-2019
Sunday,20-10-2019
Sunday,27-10-2019
Sunday,3-11-2019
Sunday,10-11-2019
Sunday,17-11-2019
Sunday,24-11-2019
Sunday,1-12-2019
Sunday,8-12-2019
Sunday,15-12-2019
Sunday,22-12-2019
Sunday,29-12-2019

(3) Python files reading and writing. Download the “[exercise_02_data _collection.zip](https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/exercise_02_data_collection.zip)” to your local and un-zip it.

*   Write a program to read all the txt files and save the sentences in all the files into one csv file with two columns, the first column is sentence id (txt file name+sentence line number), the second column is the sentence text content. (4 points)
*   Remove all the punctuations from the sentences, save the processed sentences into a new column in the same csv file. (4 points)
*   Ask the user to enter a word, return all the sentences that include this word, three kinds of information should be returned: sentence id, sentence text content, the count that user input word appear in the sentence. (4 points)

In [24]:
# write your answer here

import os
import re
new_list = []
col_name = []
for root, dirs, files in os.walk('/content/Data/'):
  files.sort(key=lambda x: int(re.findall("\d+", x)[0]))
  for file in files:
    if file.endswith('.txt'):
      with open(os.path.join(root, file), 'r') as f:
        text = f.read()
        check_list = []
        check_list.append(text)
        new_lists = check_list[0]
        new_lists = new_lists.split("\n")
        for i in new_lists:
          new_list.append(i)
          col_name.append(file)

df = pd.DataFrame({'col':new_list,'col_name':col_name})
df = df[df['col']!='']
df['col_count'] =df.groupby('col_name').cumcount()+1
df['col_count'] = df['col_count'].astype(str)
df['sentence id'] = df['col_name'] + ' -  ' +df['col_count']
df = df[['sentence id','col']]
df.columns = ['sentence id','sentence text content']

In [25]:
df

                sentence id                              sentence text content
0      ARTHROTEC.1.txt -  1  I feel a bit drowsy & have a little blurred vi...
1      ARTHROTEC.1.txt -  2  I've been on Arthrotec 50 for over 10 years on...
2      ARTHROTEC.1.txt -  3  Due to my arthritis getting progressively wors...
3      ARTHROTEC.1.txt -  4  every day for the next month to see how I get ...
4      ARTHROTEC.1.txt -  5  So far its been very good, pains almost gone, ...
..                      ...                                                ...
628  ARTHROTEC.100.txt -  4                          canker sores in my mouth.
629  ARTHROTEC.100.txt -  5                                          headache.
630  ARTHROTEC.100.txt -  6           been off for 1 week still have bleeding.
631  ARTHROTEC.100.txt -  7                              helped my pain alot .
632  ARTHROTEC.100.txt -  8                too scared to take this drug again.

[533 rows x 2 columns]

Remove all the punctuations from the sentences, save the processed sentences into a new column in the same csv file

In [26]:
import string
df['sentence text'] = df['sentence text content'].str.replace('[{}]'.format(string.punctuation), '')
df = df[['sentence id','sentence text']]

In [27]:
df

                sentence id                                      sentence text
0      ARTHROTEC.1.txt -  1  I feel a bit drowsy  have a little blurred vis...
1      ARTHROTEC.1.txt -  2  Ive been on Arthrotec 50 for over 10 years on ...
2      ARTHROTEC.1.txt -  3  Due to my arthritis getting progressively wors...
3      ARTHROTEC.1.txt -  4  every day for the next month to see how I get ...
4      ARTHROTEC.1.txt -  5  So far its been very good pains almost gone bu...
..                      ...                                                ...
628  ARTHROTEC.100.txt -  4                           canker sores in my mouth
629  ARTHROTEC.100.txt -  5                                           headache
630  ARTHROTEC.100.txt -  6            been off for 1 week still have bleeding
631  ARTHROTEC.100.txt -  7                               helped my pain alot
632  ARTHROTEC.100.txt -  8                 too scared to take this drug again

[533 rows x 2 columns]

Ask the user to enter a word, return all the sentences that include this word, three kinds of information should be returned: sentence id, sentence text content, the count that user input word appear in the sentence.

In [28]:
#input
word= (input("Enter your word to find : "))
df_final = df[df['sentence text'].str.contains(word)]
df_final

Enter your word to find : scared

                sentence id                                      sentence text
185   ARTHROTEC.28.txt -  3  A general scared feeling and sitting very stil...
347   ARTHROTEC.52.txt -  5                                 Im scared to death
572   ARTHROTEC.90.txt -  3  This scared me because it was two weeks after ...
632  ARTHROTEC.100.txt -  8                 too scared to take this drug again

(4) Install packages nltk, numpy, scipy, pandas, and sklearn on Google Colab. Write a program to test whether they are installed successfully. (3 points for extra)

In [1]:
# write your answer here


try:
    import pandas as pd
    print('pandas installed - version is - '+pd.__version__)
    import numpy as np
    print('numpy installed - version is - '+np.version.version)
    import scipy as sc
    print('scipy installed - version is - '+sc.version.version)  
    import nltk
    print('nltk installed -  version is - '+nltk.__version__)
    import sklearn
    print('scikit-learn installed - version is '+sklearn.__version__)
except:
    print('Required Packages not installed')

pandas installed - version is - 1.1.5
numpy installed - version is - 1.19.5
scipy installed - version is - 1.4.1
nltk installed -  version is - 3.2.5
scikit-learn installed - version is 0.22.2.post1