<a href="https://colab.research.google.com/github/prasannakumar08/Prasannakumar_INFO5731_Spring2021/blob/main/In_class_exercise_01_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
# write your answer here
print("enter the string")
string=input()
length=0
while string[length :]:
    length +=1
    
print("the length of the string is", length)

enter the string
kumar
the length of the string is 5

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [16]:
def num_characters(string):
  dict={}
  for i in string:
    keys=dict.keys()
    if i in keys:
      dict[i] +=1
    else:
      dict[i]=1
  return dict
print(num_characters('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [29]:
# write your answer here

list1=input("enter the items in the list with (,) after each element: ")
sum=0
for i in list1.split(","):
  sum=sum+int(i)
print("the sum of the elements: ",sum)

enter the items in the list with (,) after each element: 33,3
the sum of the elements:  36

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
print("enter the string")
s=str(input())
first_letter=s[0]
s=s.replace(first_letter,"$")
print(first_letter+s[1:]) # concatenation

enter the string
restart
resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [43]:
# write your answer here

print("enter the 1st number")
a=float(input())
print("enter the 2nd number")
b=float(input())
s=3.14*(1+a/b)**3
print(s)

enter the 1st number
3
enter the 2nd number
5
12.861440000000004

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [30]:
# write your answer here
dic1={1:10,2:20}
dic2={3:30,4:30}
dic3={5:50,6:60}
dic4={}
for i in (dic1,dic2,dic3): dic4.update(i)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 30, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [ ]:
# write your answer here
a=input("enter the element in tuple with a (,): ")
find=input("enter the number to know weather exist in tuple: ")
list=a.split(",")
b=tuple(list)
if find in b:
  print("the element exists")
else:
  print("the element does not exist")

enter the element in tuple with a (,): 4,6,7,8,89,9,9
enter the number to know weather exist in tuple: 5
the element does not exist

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [10]:
c=input("enter the set values with a (,) after each element:")
list=c.split(",")
b=set(list)
print("max value in the set",max(b))
print("min value in the set",min(b))

enter the set values with a (,) after each element:11,33,44,56
max value in the set 56
min value in the set 11

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [12]:
# write your answer here
import random
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']