<a href="https://colab.research.google.com/github/prasannakumar08/Prasannakumar_INFO5731_Spring2021/blob/main/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [4]:
# Your code here
from random import *
from statistics import mean
def gen():
  num=[]
  for i in range(0,12):
    n=randint(1,100)
    num.append(n)
  print("The random list:",num)
  num.sort()
  print("Sortedlist assensing order:", num)
  num.sort(reverse=True)
  print("Sortedlist decending order:", num)
  avg= mean(num)
  print("The average of the list is:",avg)
gen()

The random list: [2, 26, 26, 82, 16, 93, 55, 28, 95, 76, 24, 28]
Sortedlist assensing order: [2, 16, 24, 26, 26, 28, 28, 55, 76, 82, 93, 95]
Sortedlist decending order: [95, 93, 82, 76, 55, 28, 28, 26, 26, 24, 16, 2]
The average of the list is: 45.916666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [1]:
# Your code here
import string
punct = set(string.punctuation)

#question1
first_input = str(input("Enter 1st sentences : "))
first = first_input.split(' ')
second_input = str(input("Enter 2nd sentences : "))
second = second_input.split(' ')
print('   ')

#question2
print('First sentence split into string')
print(first)
print('   ')
print('Second sentence split into string')
print(second)

#question3
print('   ')
print('Common Elements in both lists:')
common_elements = list(set(first).intersection(second))
print(common_elements)

#question4
print('   ')
print('First Sentence without punctuation')
first_words_stripped = ''.join(x for x in first_input if x not in punct)
print(first_words_stripped)
print('   ')
print('Second Sentence without punctuation')
second_words_stripped = ''.join(x for x in second_input if x not in punct)
print(second_words_stripped)


#question5
def Check_Vow(string, vowels): 
    count = {}.fromkeys(vowels, 0) 
    for character in string: 
        if character in count: 
            count[character] += 1    
    return count 
       
vowels = 'aeiou'
first_input_vowels = Check_Vow(first_input, vowels)
second_input_vowels = Check_Vow(second_input, vowels)
print('   ')
print('First Sentence vowels')
print (Check_Vow(first_input, vowels)) 
print('   ')
print('Second Sentence vowels')
print (Check_Vow(second_input, vowels))

print('   ')
print('Both Sentence vowels')
result = {key: first_input_vowels.get(key, 0) + second_input_vowels.get(key, 0)
          for key in set(first_input_vowels) | set(second_input_vowels)}
print(result)

Enter 1st sentences : hi prasanna kumar
Enter 2nd sentences : hi kumar

First sentence split into string
['hi', 'prasanna', 'kumar']

Second sentence split into string
['hi', 'kumar']

Common Elements in both lists:
['kumar', 'hi']

First Sentence without punctuation
hi prasanna kumar

Second Sentence without punctuation
hi kumar

First Sentence vowels
{'a': 4, 'e': 0, 'i': 1, 'o': 0, 'u': 1}

Second Sentence vowels
{'a': 1, 'e': 0, 'i': 1, 'o': 0, 'u': 1}

Both Sentence vowels
{'u': 2, 'a': 5, 'e': 0, 'i': 2, 'o': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [5]:
# Your code here
import math 
def vol():
  for i in range(1,12):
    print(i," ",(4/3)*math.pi*pow(i,3))
vol()

1   4.1887902047863905
2   33.510321638291124
3   113.09733552923254
4   268.082573106329
5   523.5987755982989
6   904.7786842338603
7   1436.7550402417319
8   2144.660584850632
9   3053.6280592892786
10   4188.790204786391
11   5575.279762570686

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [2]:
# Your code here

import pandas as pd

url = 'https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv?raw=True'
df = pd.read_csv(url, index_col=0)

In [3]:
df

                 title_field  value
year
2014     Total Housing Units  49109
2014    Vacant Housing Units   2814
2014  Occupied Housing Units  46295
2013     Total Housing Units  47888
2013    Vacant Housing Units   4215
2013  Occupied Housing Units  43673
2012     Total Housing Units  45121
2012    Vacant Housing Units   3013
2012  Occupied Housing Units  42108
2011     Total Housing Units  44917
2011    Vacant Housing Units   4213
2011  Occupied Housing Units  40704
2010     Total Housing Units  44642
2010    Vacant Housing Units   3635
2010  Occupied Housing Units  41007
2009     Total Housing Units  39499
2009    Vacant Housing Units   3583
2009  Occupied Housing Units  35916
2008     Total Housing Units  41194
2008    Vacant Housing Units   4483
2008  Occupied Housing Units  36711
2014          Owner Occupied  21427
2014         Renter Occupied  24868
2013          Owner Occupied  20845
2013         Renter Occupied  22828
2012          Owner Occupied  20068
2012         Renter Occupied  22040
2011          Owner Occupied  18478
2011         Renter Occupied  22226
2010          Owner Occupied  18867
2010         Renter Occupied  22140
2009          Owner Occupied  18057
2009         Renter Occupied  17859
2008          Owner Occupied  17340
2008         Renter Occupied  19371
2014       Median Gross Rent    905
2013       Median Gross Rent    887
2012       Median Gross Rent    842
2011       Median Gross Rent    821
2010       Median Gross Rent    780
2009       Median Gross Rent    769
2008       Median Gross Rent    768

In [5]:
#question 1
pd.options.mode.chained_assignment = None 
occu_df = df[df['title_field']=='Occupied Housing Units']
occu_df = occu_df.reset_index(drop=False)
occu_df['dif'] = occu_df['value'].diff()
occu_df['combine'] = occu_df.year.astype(str) + '-' +  occu_df.year.astype(str).shift(-1)
occu_df_range = occu_df[['dif','combine']] 
occu_df_range['combine'] =  occu_df_range['combine'].shift(1)
occu_df_range = occu_df_range.dropna()
occu_df_range = occu_df_range.reindex(index=occu_df_range.index[::-1])
occu_df_range = occu_df_range.reset_index(drop=True)
occu_df_range = occu_df_range[['combine','dif']]
occu_df_range.columns = ['year','Diff in Occupied Housing Units ']

In [6]:
occu_df_range

        year  Diff in Occupied Housing Units
0  2009-2008                            795.0
1  2010-2009                          -5091.0
2  2011-2010                            303.0
3  2012-2011                          -1404.0
4  2013-2012                          -1565.0
5  2014-2013                          -2622.0

In [8]:
#question2
year_vac_df = df[(df['title_field']=='Occupied Housing Units')|(df['title_field']=='Vacant Housing Units')|(df['title_field']=='Total Housing Units')]
year_vac_df = year_vac_df.reset_index(drop=False)
new_pivot = year_vac_df[year_vac_df['title_field'] != 'Total Housing Units']
year_vac_final = (new_pivot.pivot_table(index='year',columns='title_field',values='value')).reset_index()
only_total_df = df[df['title_field']=='Total Housing Units']
only_total_df = only_total_df.reset_index(drop=False)
only_total_df = only_total_df[['year','value']]
only_total_df.columns = ['year','Total Housing Units']
year_vac_final = pd.merge(year_vac_final,only_total_df,on='year')
year_vac_final['percentage_occupied'] = (year_vac_final['Occupied Housing Units']/year_vac_final['Total Housing Units'])*100
year_vac_final['percentage_vacant'] = (year_vac_final['Vacant Housing Units']/year_vac_final['Total Housing Units'])*100
year_vac_final = year_vac_final[['year','percentage_occupied','percentage_vacant']]

In [9]:
year_vac_final

   year  percentage_occupied  percentage_vacant
0  2008            89.117347          10.882653
1  2009            90.928884           9.071116
2  2010            91.857444           8.142556
3  2011            90.620478           9.379522
4  2012            93.322400           6.677600
5  2013            91.198212           8.801788
6  2014            94.269889           5.730111

In [13]:
#question3
occu_vac_df = df[(df['title_field']=='Occupied Housing Units')|(df['title_field']=='Vacant Housing Units')]
occu_vac_df = occu_vac_df.reset_index(drop=False)
occu_vac_df = occu_vac_df.groupby('title_field').agg({ 'value':'max'}).reset_index()

In [14]:
occu_vac_df

              title_field  value
0  Occupied Housing Units  46295
1    Vacant Housing Units   4483

In [11]:
#question4
import statistics 
harmonic_df = df[df['title_field']=='Total Housing Units']
harmonic_df = harmonic_df.reset_index(drop=False)
data = harmonic_df['value'].to_list()
print("Harmonic Mean is % s " % (statistics.harmonic_mean(data)))

Harmonic Mean is 44398.28543969185